<footer class="container-fluid bg-dark text-white">
  <div class="row text-center">
    <div class="col-md-4">
      <p class="">conditions générales
      </p>
    </div>
    <div class="col-md-4">
      <p class="">mentions legales</p>
    </div>
    <div class="col-md-4">
      <p class="">fiche de l'entreprise</p>
    </div>
  </div>
</footer>