<!-- formulaire d'inscription -->
  <div class="container bg-dark bg-opacity-10">
    <p class="text-center pt-5">Je m'inscris sur Go-permis<br> et<br> j'accède à toutes les offres</p>

    <div class="row justify-content-center">
      <div class="col-md-6">
        <label for="exampleFormControlInput1" class="form-label">Nom</label>
        <input type="name" class="form-control" id="nom" placeholder="name">
        <label for="exampleFormControlInput1" class="form-label">Prénom</label>
        <input type="name" class="form-control" id="prenom" placeholder="name">
      </div>
      <div class="col-md-6">
        <label for="exampleFormControlInput1" class="form-label">Telephone</label>
        <input type="email" class="form-control" id="telephone" placeholder="0606060606">
        <label for="exampleFormControlInput1" class="form-label">e-mail</label>
        <input type="email" class="form-control" id="email" placeholder="name@example.com">
      </div>
    </div>

    <div class="d-flex justify-content-center my-5">
      <div class="col-md-6">
        <label for="exampleFormControlInput1" class="form-label">Identifiant</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="identifiant">
        <label for="exampleFormControlInput1" class="form-label">Mot de passe</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="mot de passe">
      </div>
    </div>
    <h5 class="text-center my-5">Conditions générales</h5>
    <p class="text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime atque porro commodi
      deserunt facilis
      voluptatibus
      non, libero expedita provident id.</p>
    <div class="d-flex justify-content-center my-5">
      <button type="envoyer" class="btn btn-success mb-5 m-2">Validation</button>
    </div>

  </div>