<!-- formulaire inscription permis -->
<div class="container">
  <h5 class="text-center m-5 pt-5">Dossier d'inscription au permis en ligne</h5>
  <div class="mx-5">
    <p>Vous souhaitez vous inscrire à notre auto-école en vu de faire une formation, des informations
      supplémentaires
      sont nécessaire
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident vel iste repellendus ad praesentium, nihil
      voluptatibus quisquam officiis totam? Quibusdam!</p>
    </p>
  </div>
  <div class="container row">
    <div class=" row col-md-6">
      <label for="exampleFormControlInput1" class="form-label">Nom :</label>
      <input type="name" class="form-control shadow-lg" id="exampleFormControlInput1" placeholder="Nom">
      <label for="exampleFormControlInput1" class="form-label">Prenom :</label>
      <input type="name" class="form-control shadow-lg" id="exampleFormControlInput1" placeholder="prenom">
      <label for="exampleFormControlInput1" class="form-label">Telephone :</label>
      <input type="name" class="form-control shadow-lg" id="exampleFormControlInput1" placeholder="Telephone">
      <label for="exampleFormControlInput1" class="form-label">Email :</label>
      <input type="name" class="form-control shadow-lg" id="exampleFormControlInput1" placeholder="Email">
      <label for="exampleFormControlInput1" class="form-label">Date de naissance :</label>
      <input type="name" class="form-control shadow-lg" id="exampleFormControlInput1" placeholder="00/00/0000">
      <h6 class="m-4">Adresse :</h6>
      <div class="col-md-10">
        <label for="exampleFormControlInput1" class="form-label">Numero de Voie :</label>
        <input type="name" class="form-control shadow-lg" id="exampleFormControlInput1" placeholder="numero de voie">
        <label for="exampleFormControlInput1" class="form-label">voie :</label>
        <input type="name" class="form-control shadow-lg" id="exampleFormControlInput1" placeholder="type de voie">
        <label for="exampleFormControlInput1" class="form-label">Nom de la voie :</label>
        <input type="email" class="form-control shadow-lg" id="exampleFormControlInput1" placeholder="voie">
        <label for="exampleFormControlInput1" class="form-label">Code postal :</label>
        <input type="email" class="form-control shadow-lg" id="exampleFormControlInput1" placeholder="code postal">
        <label for="exampleFormControlInput1" class="form-label">Ville :</label>
        <input type="email" class="form-control shadow-lg" id="exampleFormControlInput1" placeholder="ville">
        <label for="exampleFormControlInput1" class="form-label">NETH :</label>
        <input type="email" class="form-control shadow-lg" id="exampleFormControlInput1"
          placeholder="si vous en avez un">
      </div>
    </div>
    <!-- colonne de droite -->
    <div class="col-md-6">
      <!-- question 1 -->
      <div class="d-flex mt-5 ms-5 ">
        <p class="col-md-11 ms-">Vous avez le code depuis les 5 dernieres années ?</p>
        <div class="col-md-1 justify-content-end d-flex">
          <div class="form-check ms-2">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">

            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">

          </div>
        </div>
      </div>
      <!-- question 2 -->
      <div class="d-flex ms-5">
        <p class="col-lg-11 me-2">Vous avez un permis de conduire français ?</p>
        <div class="col-lg-1 justify-content-end d-flex">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">

            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">

          </div>
        </div>
      </div>
      <!-- question 3 -->
      <div class="d-flex ms-5">
        <p class="col-lg-11 me-2">Vous avez un permis de conduire à l'étranger ?</p>
        <div class="col-lg-1 justify-content-end d-flex">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">

            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">

            </label>
          </div>
        </div>
      </div>
      <!-- question 4 -->
      <div class="d-flex ms-5">
        <p class="col-lg-11 me-2">Vous avez, actuellement, une annulation de permis ?</p>
        <div class="col-lg-1 justify-content-end d-flex">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">

            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">

          </div>
        </div>
      </div>
      <!-- fin des questions -->
      <!-- envoi des documents -->
      <div class="m-5">
        <p>Merci de glisser déposer vos documents, copie de permis de conduire, justificatif d'dentité,
          de domicile, en pdf. De déposer les photos en jpeg.</p>
      </div>
      <div class="input-group">
        <span class="input-group-text"></span>
        <textarea class="form-control" aria-label="With textarea"></textarea>
      </div>
    </div>
  </div>
  <!-- demande du futur élève -->
  <h5 class="text-center my-5">Demande de formation au permis</h5>
  <div class="row col-lg-12 justify-content-center">
    <div class="col-lg-4 my-3">
      <select class="form-select form-select-lg shadow-lg" aria-label=".form-select-lg example">
        <option selected>Permis visé</option>
        <option value="1">Am</option>
        <option value="2">A1</option>
        <option value="3">A2</option>
        <option value="4">B automatique</option>
        <option value="5">B manuelle</option>
      </select>
    </div>
    <div class="col-lg-4 my-3">
      <select class="form-select form-select-lg shadow-lg" aria-label=".form-select-lg example">
        <option selected>type de formation</option>
        <option value="1">conduite classique</option>
        <option value="2">conduite accompagnée</option>
        <option value="3">conduite supervisée</option>
        <option value="4">conduite accélérée</option>
      </select>
    </div>
    <div class="col-lg-4 my-3">
      <select class="form-select form-select-lg shadow-lg" aria-label=".form-select-lg example">
        <option selected>Forfait</option>
        <option value="1">à l'heure</option>
        <option value="2">forfait 5 heures</option>
        <option value="3">forfait 13 heures</option>
        <option value="4">forfait 20 heures</option>
        <option value="5">forfait 30 heures</option>
      </select>
    </div>

    <div class="d-flex justify-content-center my-5">
      <button type="button" class="btn btn-outline-secondary shadow-lg">Validation</button>
    </div>
  </div>
</div>
<!-- fin de demande -->