<div class="container row m-auto">
  <div class="d-flex  justify-content-end me-5 my-5" role="search">
    <a href="/inscription" class="btn btn-outline-secondary">Inscription</a>
  </div>
  <div class="col-md-6">
    <div class="ms-4">
      <h6>Vous avez choisis le permis {{ permis.name }}</h6>
      <p>{{ permis.description }}</p>

      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci sunt quia quisquam nemo minus eaque ratione
        quo? Inventore eaque quam explicabo omnis, amet culpa ratione? Nam animi sed debitis eligendi corrupti omnis
        aut,
        nulla voluptates pariatur a enim voluptatem minima molestias, vel laborum architecto perspiciatis repellendus
        asperiores nesciunt eveniet delectus.</p>
      <h6> Le code pré-requis pour le permis </h6>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci sunt quia quisquam nemo minus eaque ratione
        quo? Inventore eaque quam explicabo omnis, amet culpa ratione? Nam animi sed debitis eligendi corrupti omnis
        aut,
        nulla voluptates pariatur a enim voluptatem minima molestias, vel laborum architecto perspiciatis repellendus
        asperiores nesciunt eveniet delectus.</p>
    </div>
    <div class="row ms-4">
      <div class="col-md-3">
        <select class="form-select" aria-label="Default select example">
          <option selected>cliquer ici</option>
          <option value="1">boite manuelle</option>
          <option value="2">boite automatique</option>
        </select>
      </div>
      <p class="col-md-9 pt-2">Choisir le type de véhicule par la boite de vitesse</p>
      <div class="col-md-3">
        <select class="form-select" aria-label="Default select example">
          <option selected>cliquer ici</option>
          <option value="1">Majeur</option>
          <option value="2">Mineur</option>
        </select>
      </div>
      <p class="col-md-9 pt-2">Vous etes majeurs ou mineur</p>
      <div class="col-md-3">
        <select class="form-select" aria-label="Default select example">
          <option selected>cliquer ici</option>
          <option value="1">Accompagné</option>
          <option value="2">Accélèré</option>
          <option value="3">Supervisé</option>
        </select>
      </div>
      <p class="col-md-9 pt-2">Accompagné, Acceleré ou Supervisé ?</p>
      <div class="col-md-3">
        <select class="form-select" aria-label="Default select example">
          <option selected>cliquer ici</option>
          <option value="1">a l'heure</option>
          <option value="2">forfait 5 heures</option>
          <option value="3">forfait 13 heures</option>
          <option value="4">forfait 20 heures</option>
          <option value="5">forfait 30 heures</option>
        </select>
      </div>
      <p class="col-md-9 pt-2">Type de forfait horaire</p>
      <div class="col-md-3">
        <select class="form-select" aria-label="Default select example">
          <option selected>cliquer ici</option>
          <option value="1">permis annulé</option>
          <option value="2">permis valide</option>
          <option value="3">pas encore de permis</option>
        </select>
      </div>
      <p class="col-md-9 pt-2">Permis annulé </p>
    </div>
    <h6 class="ms-4">L'inscription en préfecture et le NETH</h6>
    <p class="ms-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci sunt quia quisquam nemo minus
      eaque ratione
      quo? Inventore eaque quam explicabo omnis, amet culpa ratione? Nam animi sed debitis eligendi corrupti omnis aut,
      nulla voluptates pariatur a enim voluptatem minima molestias, vel laborum architecto perspiciatis repellendus
      asperiores nesciunt eveniet delectus.</p>

  </div>

  <div class="col-md-6">

    <h6>Votre profil</h6>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci sunt quia quisquam nemo minus eaque ratione
      quo? Inventore eaque quam explicabo omnis, amet culpa ratione? Nam animi sed debitis eligendi corrupti omnis aut,
      nulla voluptates pariatur a enim voluptatem minima molestias, vel laborum architecto perspiciatis repellendus
      asperiores nesciunt eveniet delectus.</p>
    <h6>Les documents nécéssaires</h6>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci sunt quia quisquam nemo minus eaque ratione
      quo? Inventore eaque quam explicabo omnis, amet culpa ratione? Nam animi sed debitis eligendi corrupti omnis aut,
      nulla voluptates pariatur a enim voluptatem minima molestias, vel laborum architecto perspiciatis repellendus
      asperiores nesciunt eveniet delectus.</p>
    <h6>l'organisation des cours de conduites</h6>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci sunt quia quisquam nemo minus eaque ratione
      quo? Inventore eaque quam explicabo omnis, amet culpa ratione? Nam animi sed debitis eligendi corrupti omnis aut,
      nulla voluptates pariatur a enim voluptatem minima molestias, vel laborum architecto perspiciatis repellendus
      asperiores nesciunt eveniet delectus.
    </p>
    <h6>Proposition de prix</h6>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci sunt quia quisquam nemo minus eaque ratione
      quo? Inventore eaque quam explicabo omnis, amet culpa ratione? Nam animi sed debitis eligendi corrupti omnis aut,
      nulla voluptates pariatur a enim voluptatem minima molestias, vel laborum architecto perspiciatis repellendus
      asperiores nesciunt eveniet delectus.
    </p>
  </div>
  <div class="d-flex justify-content-end my-5" role="search">
    <a href="/inscription" class="btn btn-outline-secondary">Inscription en ligne</a>
  </div>

</div>