<!-- header -->
<header class="heady">
     <img src="/assets/images/facade.jpg" alt="" class="img-fluid">
     <div class="centered text-white">
          <h1>Bienvenue à l'auto-école Go-permis</h1>
     </div>
</header>